[submodule "frontend"]
	path = frontend
	url = https://github.com/JYBESiU/kkangchong-front.git
	branch = master
[submodule "backend"]
	path = backend
	url = https://github.com/dreamingpens/kkangchong-back
