.fakeRecordingSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* 좌측 정렬 */
  justify-content: flex-start;
  /* 상단 정렬 */
  background: linear-gradient(135deg, #c3e0ff, #e0c3ff);
  /* 배경 그라데이션 */
  border-radius: 16px;
  padding: 24px;
  height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  /* 텍스트 간격 조정 */
}

.subtitle {
  font-size: 1rem;
  color: #555;
  margin-bottom: 16px;
  /* 텍스트 간격 조정 */
}

.recordButton {
  position: absolute;
  bottom: 24px;
  /* 하단 중앙 위치 */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: white;
  color: #555;
  border: 1px #555;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
}

.recordButton:hover {
  background-color: #c3e0ff;
}

.icon {
  font-size: 2rem;
}